.bookingSearchContainer, .headerContainer {
    text-align: center;
    margin: 40px;
}

select {
    width: 50px;
    height: 40px;
    background-color: rgb(242, 189, 115);
    color: #5f3834;
    border-radius: 5px;
    border: solid #5f3834 2px;
    font-size: 20px;
}

.datePicker {
    background-color: rgb(242, 189, 115);
    height: 40px;
    background-color: rgb(242, 189, 115);
    color: #5f3834;
    border-radius: 5px;
    border: solid #5f3834 2px;
    font-size: 20px;
}

