.adminHeader {
    text-align: center;
    font-size: 40px;
    text-shadow: black 5px 5px 5px;
    margin: 0;
    padding: 0;
    color: red;
}

.bookingContiner {
    display: flex;
    text-align: center;
    justify-content: center;
}
