.mainWraper {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainWraper {
    border: solid red 2px;
    height: 200px;
    width: 400px;
}