main {
    background-color: antiquewhite;
    height: 500px;
    border: solid black 2px;
    text-align: center;
}

footer {
    background-color: beige;
    height: 200px;
    border: solid black 2px;
    text-align: center;
}