.adminBtn {
    width: 100px;
    height: 50px;
    background-color: #7B5F38;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.footerContainer {
    
    background-color: rgb(135, 104, 60);
    display: flex;
    justify-content: space-between;
}

.spaceContainer {
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}

///////////////////////////

