header{
    border: solid pink 1px;
    

nav {
    border: solid black 1px;
    background-color: rgb(135, 104, 60);
    // background-image: url(/image/Majojo.jpg);
    // background-size: 20%;
    // background-repeat: no-repeat;
    // background-position: center;
}

}